<div class="container">
  <h2>Create Product</h2>
  <form [formGroup]="ProductForm">
   
    <div class="form-group">
      <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input formControlName="category" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" row="10" width="30" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input formControlName="price" type="number" class="form-control">
    </div>
    <div class="form-group">
      <button (click)="create()">Create</button>
    </div>

  </form>
</div>
<div class="container">
  <h2>Product list</h2>
</div>

<div class="container">
  <table style="border:1px solid black;">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let product of products;let i=index;">
      <td><input type="name" [(ngModel)]="product.name"></td>
      <td><input type="name" [(ngModel)]="product.category"></td>
      <td><input type="name" [(ngModel)]="product.description"></td>
      <td><input type="number" [(ngModel)]="product.price"></td>
      <td>
        <button type="button" class="btn btn-primary" (click)="edit(product)">Edit</button>
        <button (click)="delete(i)">Delete</button>
      </td>
    </tr>
  </table>
</div>
